<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreetWash</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <!-- HEADER -->
    <header class="header">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='logo.jpeg') }}" class="logo">
            <h2 class="top-frase">Seu carro limpo no conforto da sua casa.</h2>
        </div>
    </header>

    <!-- ============================= -->
    <!--        SERVIÇOS DA HOME       -->
    <!-- ============================= -->
    <section class="servicos-home" id="servicos">
        <h1 class="titulo-servicos">Serviços Disponíveis</h1>

        <div class="cards-servicos">
            <!-- CARD 1 -->
            <div class="card">
                <div class="card-icon">💧</div>
                <h2>Lavagem De Manutenção</h2>
                <p class="preco">R$ 50 - 60</p>
                <ul>
                    <li>✔ Lavagem externa completa</li>
                    <li>✔ Aspiração</li>
                    <li>✔ Secagem com microfibra</li>
                    <li>✔ Limpeza dos vidros</li>
                    <li>✔ Pneu brilhante</li>
                </ul>
                <a href="/tipo-veiculo?servico=Lavagem De Manutenção" class="btn-card">Escolher</a>
            </div>

            <!-- CARD 2 -->
            <div class="card">
                <div class="card-icon">✨</div>
                <h2>Lavagem Detalhada Premium</h2>
                <p class="preco">R$ 65 - 90</p>
                <ul>
                    <li>✔ Lavagem técnica detalhada</li>
                    <li>✔ Detalhamento com pincel</li>
                    <li>✔ Higienização leve dos bancos</li>
                    <li>✔ Descontaminação</li>
                    <li>✔ Limpeza detalhada de rodas</li>
                    <li>✔ Proteção UV no painel</li>
                </ul>
                <a href="/tipo-veiculo?servico=Lavagem Detalhada Premium" class="btn-card">Escolher</a>
            </div>

            <!-- CARD 3 -->
            <div class="card">
                <div class="card-icon">🏍️</div>
                <h2>Moto</h2>
                <p class="preco">R$ 30</p>
                <ul>
                    <li>✔ Lavagem completa</li>
                    <li>✔ Produtos premium</li>
                </ul>
                <a href="/tipo-veiculo?servico=Moto" class="btn-card">Escolher</a>
            </div>
        </div>
    </section>

</body>
</html>